In [1]:
import numpy as np
import pandas as pd
import prepare as prep

In [2]:
df=prep.explore_df()

In [3]:
df.head()

,id,name,price,msrp,year_published,min_players,max_players,min_playtime,max_playtime,min_age,num_user_ratings,average_user_rating,num_user_complexity_votes,average_learning_complexity,average_strategy_complexity,rank,type,num_distributors
0,TAAifFP590,Root,45.00,60.00,2018.0,2.0,4.0,60.0,90.0,10.0,412,4.059395,11,3.818182,3.636364,1,game,6
1,yqR4PtpO8X,Scythe,54.39,90.00,2016.0,1.0,5.0,90.0,120.0,14.0,763,4.213439,17,3.117647,3.235294,2,game,9
2,5H5JS0KLzK,Wingspan,50.00,60.00,2019.0,1.0,5.0,40.0,70.0,10.0,589,4.162919,12,2.500000,2.833333,3,game,11
3,RLlDWHh7hR,Gloomhaven,105.97,140.00,2017.0,1.0,4.0,60.0,150.0,12.0,491,4.351614,10,3.900000,3.600000,4,game,5
4,fDn9rQjH9O,Terraforming Mars,51.99,69.95,2016.0,1.0,5.0,90.0,120.0,12.0,713,4.146214,10,3.000000,3.300000,5,game,3

In [5]:
m=pd.read_csv('mechanic_df')

In [7]:
m.head()

                       mechanics
0  Action / Movement Programming
1                   Action Queue
2                   Area Control
3                   Dice Rolling
4                Engine Building